* {scroll-behavior: smooth;} 
/* #main_nav {
  position: fixed;
  width: 100%;
}
.banner-wrapper {
  position: relative;
  top: 60px;
} */
.navbar-brand {
  width: 10rem;
}
.navbar-brand img {
  width: 100%;
  display: block;
}
#confian-section .col-md-3  {
  vertical-align: middle;
}

.collage img {
  display: block;
  width: 100%;
  margin-top: 1rem;
}
#servicios-section .card-img-top {
  height: 15rem;
  object-fit: cover;
}
